<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1012468142338-nhp1l1c08d5ntnrdeou8h2t9l6ins6uf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012468142338-nhp1l1c08d5ntnrdeou8h2t9l6ins6uf</string>
	<key>API_KEY</key>
	<string>AIzaSyAPxvCLh8WbZKfd9P9gqpNJBmLL6lMg_gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1012468142338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.DeindeApp</string>
	<key>PROJECT_ID</key>
	<string>deindeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>deindeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012468142338:ios:40d0aa4fd791e538</string>
	<key>DATABASE_URL</key>
	<string>https://deindeapp.firebaseio.com</string>
</dict>
</plist>
